In [ ]:
# Eda ideas
#
# Mark holidays in a year plot, bar plot with holidays in different color

In [20]:
import os
import pandas as pd
import matplotlib as plt

In [4]:
files_in_folder = [f for f in os.listdir('.') if os.path.isfile(f)]
print(files_in_folder)

['eda_bike_share_01.ipynb', 'sampleSubmission.csv', 'test.csv', 'train.csv']

In [45]:
# load dataframe
df = pd.read_csv('train.csv')
df.head(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [61]:
# Size of dataframe
df.shape

(10886, 12)

In [83]:
# Convert datetime to date format
# Extract Year, Month, Day from datetime

df['datetime'] = pd.to_datetime(df['datetime'])
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1

In [88]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
year                   int64
month                  int64
day                    int64
dtype: object

In [86]:
# Get the average weather stats per season
mean_weather = df[['season', 'temp','atemp','humidity','windspeed']].groupby(['season']).mean()
print(mean_weather)

             temp      atemp   humidity  windspeed
season
1       12.530491  15.228956  56.297841  14.636978
2       22.823483  26.647098  60.852909  13.405607
3       28.789111  32.540783  64.123674  11.508862
4       16.649239  20.059909  66.173738  11.678147

In [ ]:
# Plot temperature and air temperature as time series